/* Define variables for easy customization */
:root {
    --background-color: #e6e2d7;
    --title-font: 'Ferly', sans-serif;
    --text-font: 'Cormorant SC', serif;
    --text-color: #333333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: var(--text-font);
    color: var(--text-color);
}

.container {
    text-align: center;
}

.main-image {
    width: 80%;
    max-width: 500px;
    height: auto;
    margin-bottom: 20px;
}

.title {
    font-family: var(--text-font);
    font-size: 4em;
    margin-bottom: 10px;
}

.date {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.coming-soon {
    font-size: 1.8em;
}
